
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* UTILITY */
.container{
    width: 80%;
    min-width: 500px;
    margin: auto;
    padding-top: 30px;  
}

.flex{
    display:flex;
}

.direction-column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-around{
    justify-content: space-around;
}

.justify-evenly{
    justify-content:space-evenly;
}

.justify-between{
    justify-content: space-between;
}

.self-center{
    align-self: center;
}

.align-center{
    align-items: center;
}

.padding{
    padding: 5px 0;
}

.bg-black{
    background-color: black;
}

ul{ 
    flex-grow:1;
}

ul > li{
    list-style: none;
    width: calc(100% / 5);    
}

.button{
    border: 1px;
    border-radius: 15px;
    padding: 5px 15px;
}

.button.primary{
    background-color: white;
    color: black;
}

.button.secondary{
    background-color: black;
    color: white;

}

.font-small{
    font-size: small;
}

.font-xsmall{
    font-size: x-small;
}

.immagine{
    width: 100%;
}


/* HEADER */

header {
    color: white;
}


.col{
    background-color: #3161e0;
    border: 2px dashed black;
    padding: 10px 5px;
    text-align: center;
    
}


.col.link{
    flex-grow: 1;
}



/* MAIN */

main .container{
    margin-top: 40px;
    padding-bottom: 120px

}

.bg-jumbo{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    color: white;
}


.box{
    border: 1px dashed black;
    line-height: 1.2rem;
}

.box> p{
    margin: 25px 0;
    padding: 10px ;
      
}

.box.alone{
    text-align: center;
    width: calc(100% - (33.3333333% / 2));  
}


.box.one{
    width: 50%;
}

.box.two{
    min-height: 200px;
    width: 25%;
    color: black;
}



/* FOOTER */

.one-two{
    background-color: pink;
    border: 1px dashed black;
    max-width: 150px;
    
 
}

.two-two{
    background-color: rgb(30, 162, 118);
    border: 1px dashed black;
    width: 300px;
}

.immagine-footer{
    height: .8rem;
    padding-right: 2px;
}

.f-icon{
    width: 50%
}


.f-col{
    border: 1px dashed white;
    width: calc(100% / 4);
    height: 100%;
}

.f-first{
    border-bottom: 2px solid salmon;
    
} 

.f-button{
    padding: 0 10px;
    border: 1px dashed black;
}   

.extreme-footer{
    justify-content: space-between;
    padding: 10px 0;
    width: 450px;
    background-color: aquamarine;

}

.margin-f{
    padding-top: 20px;
}